build
.*
*~
ACE
*C.h
*C.inl
*C.cpp
*P.h
*S.h
*S.inl
*S.cpp
*A.h
*A.cpp
GNUmakefile*
*.sln
*.vcxproj*
*.tlog
*.lastbuildstate
*.obj
*.pdb
*.Build.CppClean.log
*.dll
*.lib
*.iobj
*.ipdb
*.exp
*.exe
*.kdev4
*.so*
commit.txt
taox11/html
taox11/latex
*.gcno
bin/MPC/config/MPC.cfg*
tao/x11/ifr_client/taox11_ifr_client_skel_export.h
tao/x11/ifr_client/taox11_ifr_client_stub_export.h
ridlbe/c++11/orb.pidlc
