*       text=auto
*.rb    eol=lf
*.erb   eol=lf
*.cpp    eol=lf
*.cxx    eol=lf
*.cc    eol=lf
*.C    eol=lf
*.c    eol=lf
*.l    eol=lf
*.y    eol=lf
*.h    eol=lf
*.hpp    eol=lf
*.inl    eol=lf
*.i    eol=lf
*.cs    eol=lf
*.java    eol=lf
*.idl    eol=lf
*.pidl    eol=lf
*.cidl    eol=lf
*.html    eol=lf
*.sh    eol=lf
*.py    eol=lf
*.pl    eol=lf
*.mpc    eol=lf
*.mwc    eol=lf
*.mpb    eol=lf
*.mpt    eol=lf
*.cdp    eol=lf
*.pcd    eol=lf
*.cdd    eol=lf
*.cid    eol=lf
*.cpd    eol=lf
*.ccd    eol=lf
*.iad    eol=lf
*.xsd    eol=lf
*.xml    eol=lf
*.conf    eol=lf
*.txt    eol=lf
*.am    eol=lf
*.ac    eol=lf
*.lst    eol=lf
*.pm    eol=lf
*.sty    eol=lf
*.cls    eol=lf
*.tex    eol=lf
*.bib    eol=lf
*.bst    eol=lf
*.tab    eol=lf
Change?og*    eol=lf
*.rb    eol=lf
*.css   eol=lf
*.js    eol=lf
*.odt   -text
*.ods   -text
*.doc   -text
*.xls   -text
*.pdf   -text
*.zip   -text
*.tgz   -text
*.gz    -text
*.tar   -text
*.bz2   -text
*.eps   -text
*.ps    -text
*.rbx   -text
