build
.*
*~
ACE
*C.h
*C.inl
*C.cpp
*P.h
*S.h
*S.inl
*S.cpp
*A.h
*A.cpp
GNUmakefile*
*.sln
*.vcxproj*
*.tlog
*.lastbuildstate
*.obj
*.pdb
*.Build.CppClean.log
*.dll
*.lib
*.iobj
*.ipdb
*.exp
*.exe
*.kdev4
*.so*
*.dylib
commit.txt
taox11/html
taox11/latex
*.gcno
bin/MPC/config/MPC.cfg*
tao/x11/ifr_client/taox11_ifr_client_skel_export.h
tao/x11/ifr_client/taox11_ifr_client_stub_export.h
ridlbe/c++11/orb.pidlc
examples/log_module/output
examples/log_module/test_my_log_module
tests/ami_test/ami/ami_test_amic_export.h
tests/ami_test/ami/ami_test_skel_export.h
tests/ami_test/ami/ami_test_stub_export.h
tests/ami_test/ami_collocation/ami_test_export.h
tests/ami_test/ami_collocation/collocation_test
tests/ami_test/ami_in_out_inout/ami_ioio_test_stub_export.h
tests/ami_test/annotations/ami_test_export.h
tests/ami_test/multi_idl_mix_2client/client1
tests/ami_test/multi_idl_mix_2client/client2
tests/ami_test/no_module/ami_test_amic_export.h
tests/ami_test/no_module/ami_test_skel_export.h
tests/ami_test/no_module/ami_test_stub_export.h
tests/ami_test/weak_ref/ami_test_amic_export.h
tests/ami_test/weak_ref/ami_test_skel_export.h
tests/ami_test/weak_ref/ami_test_stub_export.h
tests/collocation/collocation
tests/dynany/basic_test
tests/dynvalue_test/dynvalue_test
tests/idl_test/main
tests/idl_test/tao_idl_test_amic_export.h
tests/idl_test/tao_idl_test_skel_export.h
tests/idl_test/tao_idl_test_stub_export.h
tests/illegal_idl/output
tests/invalidname/invalid_name
tests/log_test/log_test
tests/log_test_backend/log_test_backend
tests/log_test_env/log_test
tests/pi/slot/driver
tests/poa/children/children
tests/poa/current/Current
tests/poa/default_servant/default_servant
tests/poa/excessive_object_deactivations/excessive_object_deactivations
tests/poa/findpoa/findpoa
tests/poa/identity/Identity
tests/poa/manager_factory/manager_factory
tests/poa/nested_non_servant_upcalls/nested_non_servant_upcalls
tests/poa/newpoa/new_poa
tests/poa/poamanager/poamanager
tests/poa/rootpoa/root_poa
tests/policies/manipulation/manipulation
tests/reactor/reactor
client
server
