build
.*
*~
ACE
*C.h
*C.inl
*C.cpp
*P.h
*S.h
*S.inl
*S.cpp
*A.h
*A.cpp
GNUmakefile*
*.sln
*.vcxproj*
*.tlog
*.lastbuildstate
*.obj
*.pdb
*.Build.CppClean.log
*.dll
*.lib
*.iobj
*.ipdb
*.exp
*.exe
ridl
public
*.kdev4
*.so*
commit.txt
taox11/html
taox11/latex
/package
