name: fuzzr

on:
  push:
  pull_request:
    branches:
      - master
      - v*
  schedule:
    - cron: '0 1 * * SUN'
  workflow_dispatch:

env:
  X11_BASE_ROOT: ${{ github.workspace }}/axcioma

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
    - name: checkout axcioma
      uses: actions/checkout@v2
      with:
        repository: RemedyIT/axcioma
        path: ${{ env.X11_BASE_ROOT }}
    - name: install fuzzr gem
      run: |
        gem install fuzzr
    - name: Run fuzzr
      run: |
        fuzz -P $X11_BASE_ROOT/bin/fuzzers
