name: windows

on:
  push:
    branches:
      - master
      - v*
    tags:
      - AXCIOMA-v*
  pull_request:
    branches:
      - master
      - v*
  schedule:
    - cron: '0 1 * * SUN'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DOC_ROOT: ${{ github.workspace }}/ACE_TAO
  ACE_ROOT: ${{ github.workspace }}/ACE_TAO/ACE
  TAO_ROOT: ${{ github.workspace }}/ACE_TAO/TAO
  MPC_ROOT: ${{ github.workspace }}/ACE_TAO/MPC
  X11_BASE_ROOT: ${{ github.workspace }}/axcioma
  RIDL_ROOT: ${{ github.workspace }}/ridl
  TAOX11_ROOT: ${{ github.workspace }}
  X11_BRANCH: master
  ACETAOMPC_BRANCH: Latest_ACE7TAO3_Micro

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2019
            ruby: '2.6'
            project_type: vs2019
          - os: windows-2019
            ruby: '3.0'
            project_type: vs2019
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} ruby-${{ matrix.ruby }} ${{ matrix.project_type }}
    steps:
    - if: contains(fromJson('["pull_request", "pull_request_target"]'), github.event_name) && github.repository_owner == 'RemedyIT'
      run: |
        echo "X11_BRANCH=${{ github.base_ref }}" >> $GITHUB_ENV
    - if: contains(fromJson('["pull_request", "pull_request_target"]'), github.event_name) == false && github.repository_owner == 'RemedyIT'
      run: |
        echo "X11_BRANCH=${{ github.ref_name }}" >> $GITHUB_ENV
    - uses: actions/checkout@v3
    - name: checkout ACE_TAO
      uses: actions/checkout@v3
      with:
        repository: DOCGroup/ACE_TAO
        path: ${{ env.DOC_ROOT }}
        ref: ${{ env.ACETAOMPC_BRANCH }}
    - name: checkout MPC
      uses: actions/checkout@v3
      with:
        repository: DOCGroup/MPC
        path: ${{ env.MPC_ROOT }}
        ref: ${{ env.ACETAOMPC_BRANCH }}
    - name: checkout ridl
      uses: actions/checkout@v3
      with:
        repository: RemedyIT/ridl
        path: ${{ env.RIDL_ROOT }}
        ref: ${{ env.X11_BRANCH }}
    - name: checkout axcioma
      uses: actions/checkout@v3
      with:
        repository: jwillemsen/axcioma
        path: ${{ env.X11_BASE_ROOT }}
        ref: jwi-binarympcconfigfles
    - uses: ilammy/msvc-dev-cmd@v1
    - name: perl v1
      run: |
        which perl
        perl --version
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: perl v2
      run: |
        which perl
        perl --version
    - uses: shogo82148/actions-setup-perl@v1
      with:
        distribution: strawberry
    - name: perl v3
      run: |
        perl --version
    - name: Run brix11 configure
      run: |
        %X11_BASE_ROOT%\bin\brix11 -t ${{ matrix.project_type }} configure -W aceroot=%ACE_ROOT% -W taoroot=%TAO_ROOT% -W mpcroot=%MPC_ROOT%
      shell: cmd
    - name: Print brix11 configuration
      run: |
        %X11_BASE_ROOT%/bin/brix11 env -- configure -P
      shell: cmd
    - uses: actions/upload-artifact@v3
      with:
        name: defaultfeatures
        path: ${{ env.ACE_ROOT }}/bin/MakeProjectCreator/config/default.features
    - uses: actions/upload-artifact@v3
      with:
        name: workspace
        path: axcioma/workspace.mwc
    - name: Run brix11 gen build
      run: |
        axcioma/bin/brix11 -v gen build axcioma/workspace.mwc -- gen build %TAOX11_ROOT%/examples -- gen build %TAOX11_ROOT%/orbsvcs/tests -- gen build %TAOX11_ROOT%/tests
      shell: pwsh
    - name: Run brix11 make
      run: |
        %X11_BASE_ROOT%/bin/brix11 make -N -d %X11_BASE_ROOT% -- make -N -d %TAOX11_ROOT%/examples -- make -N -d %TAOX11_ROOT%/orbsvcs/tests -- make -N -d %TAOX11_ROOT%/tests
      shell: cmd
